:root {
  --color-black: #000000;
  --color-white: #f4f4f2;
  --color-dark-grey: #20372f;
  --color-light-grey: #00b033;
  --color-gray-100: #b3b3b3;
  --color-black-70: #000000ba;
}

html,
body {
  padding: 0;
  margin: 0;
  font: normal 400 10px Pretendard;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
